{% extends "base.html" %}

{% block title %}Search for Users{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>Search for Users</h1>

        <form action="{{ url_for('user.search_profiles') }}" method="post"
              id="search-form">
            <label for="username" hidden></label>
            <input class="form-control"
                   type="text" id="username" name="username" autocomplete="off">
            <button class="btn btn-outline-primary" id="searchButton"
                    type="button">Search
            </button>
        </form>
    </div>
        <div class="text-center" id="usernames-container"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        let profileURL = "{{ url_for('user.view_profile', username='') }}";
        let searchInput = document.getElementById("username");
        let searchButton = document.getElementById("searchButton");
        let usernamesContainer = document.getElementById("usernames-container");


        function searchForUsernames() {
            let searchForm = new FormData(document.getElementById("search-form"));
            fetch("{{ url_for('api.search_for_usernames') }}", {
                method: "POST",
                body: searchForm
            })
                .then(response => response.json())
                .then(response => {
                    usernamesContainer.innerHTML = ""; // clear all html inside container
                    listUsernames(response);
                });
        }

        function listUsernames(usernames) {
            if (usernames.length < 1) return;

            for (let username of usernames) {
                let child = document.createElement("p");
                child.innerHTML = `<a href="${profileURL}${username}">${username}</a>`;
                usernamesContainer.appendChild(child);
                console.log(username);
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            searchButton.onclick = () => searchForUsernames()
        });
    </script>
{% endblock %}