{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="card-header">
            <h1>Profile</h1>
    <hr>
    <h1 class="title">Welcome {{ current_user.username }}</h1>
    <h2 class="subtitle">This is your page</h2>
        </div>
    <section>
        <h2>Quiz</h2>
        <ul>
            <li><a href="{{ url_for('user.create_quiz_get') }}">Create Quiz</a></li>
            <li><a href="{{ url_for('user.delete_all_quizzes') }}">Delete My Quizzes</a></li>
            <li><a href="{{ url_for('user.delete_all_questions') }}">Delete All Questions</a></li>

        </ul>
        {% if quizzes %}
            <h3>My Quizzes</h3>
            <ul>
                {% for quiz in quizzes %}
                    <li>
                        <a href="{{ url_for('user.detail_quiz_get', quiz_id=quiz.id) }}">
                            {{ quiz.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    </div>
{% endblock %}