{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block page_content %}

    <div class="container">

        <card class="profile_card">
            <h1 class="profile_header"> {{ current_user.username }} </h1>

            <div class="avatar">Avatar</div>

            <div class="profile_info">
                <div class="text_container" id="profile_container">
                    <h3>Profile</h3>

                    <div class="profile_section">
                        <span>Username:</span>
                        <span>{{ current_user.username }}</span>
                    </div>

                    <div class="profile_section">
                        <span>Name:</span>
                        <span>Charlie</span>
                    </div>

                    <div class="profile_section">
                        <span>Country:</span>
                        <span>Sweden</span>
                    </div>

                    <div class="profile_section">
                        <span>Member since:</span>
                        <span>Date</span>
                    </div>
                </div>

                <a class="_btn" href="{{ url_for("auth.update", username=current_user.username) }}">Edit Profile</a>

            </div>

            <div class="my_quizzes">

                <div class="text_container" id="quiz_container">
                    <h3>My Quizzes</h3>

                    {% for quiz in quizzes %}
                        <a href="{{ url_for("user.edit_quiz_get", quiz_id=quiz.id, username=current_user.username, quiz=quiz) }}">{{ quiz.title }}
                            - {{ (quiz.questions|length) }} Questions</a> <br/><br/>
                    {% endfor %}

                </div>

                <a class="_btn" href="{{ url_for("user.create_quiz_get") }}">Create Quiz</a>

            </div>

            <div class="profile_highscores">

                <div class="text_container" id="highscore_container">
                    <h3>My Highscores</h3>
                    <p>Adding Quiz - best score here in a later release...</p>
                </div>

                <a class="_btn" href="{{ url_for("guest.leaderboard") }}">Leaderboard</a>

            </div>
        </card>
    </div>










































    {#    <div class="container">#}
    {#        <div class="card-header">#}
    {#            <h1>Profile</h1>#}
    {#    <hr>#}
    {#    <h1 class="title">Welcome {{ current_user.username }}</h1>#}
    {#    <h2 class="subtitle">This is your page</h2>#}
    {#        </div>#}
    {#    <section>#}
    {#        <h2>Quiz</h2>#}
    {#        <ul>#}
    {#            <li><a href="{{ url_for('user.create_quiz_get') }}">Create Quiz</a></li>#}
    {#            <li><a href="{{ url_for('user.delete_my_quizzes') }}">Delete My Quizzes</a></li>#}
    {#        </ul>#}
    {#        {% if quizzes %}#}
    {#            <h3>My Quizzes</h3>#}
    {#            <ul>#}
    {#                {% for quiz in quizzes %}#}
    {#                    <li>#}
    {#                        <a href="{{ url_for('user.detail_quiz_get', quiz_id=quiz.id) }}">#}
    {#                            {{ quiz.title }}</a>#}
    {#                    </li>#}
    {#                {% endfor %}#}
    {#            </ul>#}
    {#        {% endif %}#}
    {#    </section>#}
    {#    </div>#}
{% endblock %}