{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block page_content %}
<div class = container>
        <h1>Log in</h1><br/>
        <div class="mb-3">
            <form method="POST" novalidate>

                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label") }} {{ form.username (class="form-control") }}
                {% for error in form.username.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}
                <br/>

                {{ form.password.label (class="form-label")}} {{ form.password (class="form-control")}}
                {% for error in form.password.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}
                <br/>

                {{ form.login_button(class="btn btn-secondary") }}

            </form>
        </div>
</div>


{%  endblock %}