html,
body {
    height: 100%;
    background: #202020 !important;
    font-family: "Fira", sans-serif;
    color: #dcddde;
    /* Highlight - text = 7f6df2 */
    /* text-muted = #999 */
}

.container {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d6efd;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.signup-form {
    width: 760px;
    height: 540px;
    margin: 20px;

    background: #2c2c2c !important;
    border-radius: 20px !important;
}

.login-form {
    width: 760px;
    height: 450px;
    margin: 20px;

    background: #2c2c2c !important;
    border-radius: 20px !important;
}


#UsernameInput, #PasswordInput, #EmailInput {
    background: #2c2c2c !important;
    border: 2px solid #454545;
    border-radius: 10px;
    margin-bottom: 25px;
    color: #999;
}

#UsernameInput:focus, #PasswordInput:focus {
    outline: none;
    border: none;
    background: #2c2c2c;
    margin-bottom: 25px;
    color: #999;
}

.card title {
    font-weight: 900;
    padding-top: 20px;
}

.btn {
    transform: translateY(10px) !important;
    font-size: 14px;
    border-radius: 10px;

}

.signup {
    text-align: center;
    padding-top: 25px;

}

h1 {
    color: #7f6df2;
    font-weight: 900;
}

.btn-primary {
    display: block;
    padding: 0px 20px;
    height: 40px;
    background-color: #7f6df2;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 40px;
    flex-grow: 1;

}

.btn-primary:hover {
    background-color: #483699 !important;

}

/* Toast notifications */
.toast-overlay {
    z-index: 999999 !important;
}

/* HEADER TEMPLATE */
.primary_header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira, sans-serif;
}

.nav_container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px;
    border-bottom: 3px solid #6f42c1;
}

.nav_header {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #999;
    margin: 0 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a:hover {
    background-color: #7f6df2;
}

/*profile page */
.profile_card {
    width: 60%;
    max-width: 2000px;
    min-width: 600px;
    height: 100%;
    max-height: 980px;
    font-family: "Fira", sans-serif;


    background: #2c2c2c !important;
    padding: 2%;
    color: #999;

    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 3fr;
    border-radius: 15px;

}

.profile_header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    margin-left: auto;
    margin-right: auto;
    width: auto;


}

.avatar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: #483699 solid 0.5px;
    border-radius: 10px;
    background-image: url(https://eu.ui-avatars.com/api/?name=Charlie+Serell;)
    /*background-repeat: no-repeat;*/

}



.profile_info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: #483699 solid 0.5px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #1f1f1f !important;
    border-radius: 10px;



}

.my_quizzes {
    grid-row: 2 / 4;
    border: #483699 solid 0.5px;
    border-radius: 10px;

    background: #1f1f1f !important;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.profile_highscores {
    grid-row: 2 / 4;
    border: #483699 solid 0.5px;
    border-radius: 10px;
    background: #1f1f1f !important;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 600px;
}

.text_container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 525px;
    margin-left: 5%;
    margin-right: 5%;

}

#profile_container{
    height: 269px;
    justify-items: center;

}


.edit_profile_btn{
  transform: translateY(100%) translateX(75%);


}

.show_leaderboard_btn{
  transform: translateY(90%) translateX(50%);

}


.create_quiz_btn{
  transform: translateY(85%) translateX(60%);


}