<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"> Pyhoot </span>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('guest.index') }}">Home <span class="sr-only"></span></a>
              </li>
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user.view_profile') }}">Profile <span class="sr-only"></span></a>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out </a>
              </li>

        {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('guest.about') }}">About <span class="sr-only"></span></a>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('guest.leaderboard') }}">Leaderboard <span class="sr-only"></span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href={{ url_for('auth.signup') }}>Sign up</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href={{ url_for('auth.login') }}>Login</a>
              </li>
        </ul>
        {% endif %}
  </div>
</nav>
</header>
