<header class="primary_header">
<nav>

    <div class="nav_container">
        <h1 class="nav_header">Pyhoot</h1>

        <div class="menu">
                <a href={{ url_for("guest.index") }}>Home</a>
            {% if current_user.is_authenticated %}
                <a href={{ url_for("user.view_profile", username=current_user.username) }}>profile</a>
                <a href={{ url_for("user.search") }}>Search</a>
                <a href={{ url_for("auth.logout") }}>logout</a>
            {% else %}
                <a href={{ url_for("auth.signup") }}>Sign Up</a>
                <a href={{ url_for("auth.login") }}>Login</a>
                <a href={{ url_for("guest.about") }}>About</a>
                <a href={{ url_for("guest.leaderboard") }}>Leaderboard</a>
            {% endif %}
        </div>
    </div>
</nav>
</header>
