{% extends 'base.html' %}
{% block title %}Play{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
{% endblock %}

{% block page_content %}

    <!-- QUESTION WINDOW! -->

    <div class="question_container" id="question_container">
        <div class="progressField">{{ data.quiz_progress }}</div>
        <div id="questionField">{{ data.description }}</div>

        {% for answer in data.choices %}
            <div class="answer_box">{{ answer }}</div>
        {% endfor %}
    </div>


    <!--REVEAL ANSWER -->
    <div class="question_container hidden" id="reveal_container">
        <div class="progressField">{{ data.quiz_progress }}</div>
        <div id="questionField">{{ data.description }}</div>

        {% for answer in data.choices %}
            <div class="reveal__answer_box">{{ answer }}</div>
        {% endfor %}
        <button id="next_btn">Next Question</button>
    </div>

{% endblock %}


{% block scripts %}

    <script type="text/javascript">

        const reveal_screen = document.querySelector("#reveal_container")
        const question_screen = document.querySelector('#question_container');
        let results = document.querySelectorAll(".reveal__answer_box");


        document.querySelectorAll(".answer_box").forEach(box => {
            box.addEventListener("click", () => {
                let selection;
                selection = box.innerText
                sendData(selection)
                toggleContainer()
            });
        });

        document.getElementById('next_btn').addEventListener("click", () => toggleContainer())


        // Sends a data-package to the server, containing the text of the selected element.
        // response should be a str-value with the correct answer for the question.
        function sendData(user_input) {
            fetch("/play/next", {
                headers: new Headers({"content-type": "application/json"}),
                method: "POST",
                body: JSON.stringify(user_input),
            })
                .then(validate_promise)
                .then(response => response.json())
                .then(response => checkAnswer(response));
        }

        function validate_promise(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response)
            } else {
                return Promise.reject("Something went wrong...")
            }
        }


        //switches between revealed answer and question, enabling / disabling buttons
        function toggleContainer() {
            question_screen.classList.toggle('hidden')
            reveal_screen.classList.toggle('hidden')
        }

        // Takes the response from AJAX-call and compares only the text-value with each div, and styles boxes accordingly
        function checkAnswer(data) {
            document.querySelectorAll('.reveal__answer_box').forEach(
                box => {
                    if (data == box.innerText) {
                        box.style.backgroundColor = "darkgreen"
                    } else {
                        box.style.backgroundColor = "darkred"
                    }
                })
        }
    </script>


{% endblock %}