<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Pyhoot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block meta %}{% endblock %}
    {% block additional_css %}{% endblock %}
</head>
<body>

{% include "layout/header.html" %}

{% include "layout/messages.html" %}

{% block page_content %}{% endblock %}

{% include "layout/footer.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

</body>
</html>